<h1><%= @post.title %></h1>

<div class="well">
  <%= @post.content.html_safe %>
</div>

<%= link_to 'bucket', post_buckets_path(@post, format: :js), remote: true, class: 'btn btn-primary' %>

<script type="text/javascript">
  var post_id = '<%= @post.id %>';
</script>
